/* ---------------------
Fonts  
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@1,300&family=Poppins:wght@300;400;500;600;700&display=swap');



/* ---------------------
Variables  
------------------------*/

:root {
    /* background-color: black; */
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}


/* ---------------------
Global Settings 
------------------------*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

image {
    max-width: 100%;
    vertical-align: middle;
}

section {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
}

.container {
    padding: 0 40px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.align-item-center {
    align-items: center;
}

/* Custom Scroll bar */

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
